<div class="row">
  <div class="col-md-8">
    <div *ngIf="selectedOcrLabelingType === ocrLabelingCategory.originalWithOcr">
      <app-embeded-ocr-form-tools></app-embeded-ocr-form-tools>
    </div>
    <div *ngIf="selectedOcrLabelingType == ocrLabelingCategory.ocr">
      <app-common-map class="map" lon="2.4246" lat="48.845" zoom="5" class="map">
        <!-- Add PDF Image Layer -->
        <app-image-layer [imageUri]="imageUri" opacity="0.6" visibility="true"></app-image-layer>
        <!-- Add a text layer -->
        <app-vector-layer [imageUri]="imageUri"></app-vector-layer>
        <!-- Add interaction -->
        <app-interaction #interactionMap></app-interaction>
        <!-- Add a control insde the map (boolmark) -->
        <!-- <app-control></app-control> -->
      </app-common-map>
    </div>
    <div *ngIf="selectedOcrLabelingType === ocrLabelingCategory.original">
      <app-common-map class="map" lon="2.4246" lat="48.845" zoom="5" class="map" id="map1">
        <!-- Add PDF Image Layer -->
        <app-image-layer [imageUri]="imageUri" opacity="0.6" visibility="true"></app-image-layer>
      </app-common-map>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-pills nav-justified">
          <li class="nav-item border">
            <a class="nav-link active"
              [ngClass]="{'active': selectedOcrLabelingType === ocrLabelingCategory.originalWithOcr}"
              href="javascript:void(0);" (click)="changeOcrLabelingType(ocrLabelingCategory.originalWithOcr)">Original
              with OCR</a>
          </li>
          <li class="nav-item border">
            <a class="nav-link" [ngClass]="{'active': selectedOcrLabelingType === ocrLabelingCategory.ocr}"
              href="javascript:void(0);" (click)="changeOcrLabelingType(ocrLabelingCategory.ocr)">OCR</a>
          </li>
          <li class="nav-item border">
            <a class="nav-link" [ngClass]="{'active': selectedOcrLabelingType === ocrLabelingCategory.original}"
              href="javascript:void(0);" (click)="changeOcrLabelingType(ocrLabelingCategory.original)">Original</a>
          </li>
        </ul>
      </div>
      <div class="col-md-12 my-4">
        <button class="btn btn-primary" (click)="draw('Point')">Point</button>
        <button class="btn btn-primary" (click)="draw('LineString')">LineString</button>
        <button class="btn btn-primary" (click)="draw('Polygon')">Polygon</button>
        <button class="btn btn-primary" (click)="draw('Circle')">Circle</button>
        <button class="btn btn-primary" (click)="clear()">Done</button>
      </div>
    </div>
  </div>
</div>
